1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,'
with open('test.txt', 'w') as file:
    file.write(test1)
#There is no difference between test1 and test2. The contents of the file were read correctly and stored in test2.

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
with open('test.txt', 'r') as file:
    test2 = file.read()

print(test1 == test2) # True

True

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [3]:
import csv

books = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', 1960],
    ['Perdido Street Station', 'China Miéville', 2000],
    ['Thud!', 'Terry Pratchett', 2005],
    ['The Spellman Files', 'Lisa Lutz', 2007],
    ['Small Gods', 'Terry Pratchett', 1992]
]

with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(books)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3

# Create a database connection
conn = sqlite3.connect('books.db')

# Create a table
conn.execute('''CREATE TABLE books
             (title TEXT, author TEXT, year INT)''')

# Close the database connection
conn.close()

OperationalError: table books already exists

5. Read books.csv and insert its data into the book table.

In [ ]:
import csv
import sqlite3

# Create a database connection
conn = sqlite3.connect('books.db')

# Open the books.csv file and read its contents
with open('books.csv', 'r') as file:
    books = csv.reader(file)
    next(books)  # Skip the header row
    # Insert each row from the CSV file into the database
    for row in books:
        conn.execute('INSERT INTO books (title, author, year) VALUES (?, ?, ?)', row)

# Commit the changes and close the database connection
conn.commit()
conn.close()

6. Select and print the title column from the book table in alphabetical order.

In [ ]:
import sqlite3

# Create a database connection
conn = sqlite3.connect('books.db')

# Select the title column from the book table in alphabetical order
titles = conn.execute('SELECT title FROM books ORDER BY title')

# Print each title
for title in titles:
    print(title[0])

# Close the database connection
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7. From the book table, select and print all columns in the order of publication.

In [ ]:
import sqlite3

conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('SELECT * FROM books ORDER BY year')
rows = c.fetchall()

for row in rows:
    print(row)

conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [ ]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///books.db', echo=True)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [ ]:
import redis

# Create Redis client
r = redis.Redis(host='localhost', port=6379, db=0)

# Create hash with fields count and name
r.hset('test', 'count', 1)
r.hset('test', 'name', 'Fester Bestertester')

# Print all fields for hash test
print(r.hgetall('test'))

10. Increment the count field of test and print it.

In [ ]:
import redis

# Connect to Redis
r = redis.Redis()

# Increment the count field of test
r.hincrby('test', 'count', 1)

# Print the updated count value
print(r.hget('test', 'count'))